/*search*/
.search {
	width: 400px;
	margin: 250px auto;
	border: 1px solid #BEBEBE;
	background: #fff;
	position: relative;
}
.search:after {
    display: table;
    content: '';
    clear: both
}
.search_box {
	border: none;
	width: 330px;
	height: 35px;   
	line-height: 30px;    
	padding: 2px 10px;
	float: left;
	margin: 0;
	background: #fff;
}  
.search .btn_search {
	border: 0;
	background-color: #D3D3D3;
	border-left: 1px solid #BEBEBE;      
	color: #fff;
	width: 70px;
	height: 35px;
	line-height: 35px;
	float: left;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	color: #e34101;
}
.search .btn_search:hover {
	border: 0;
	border-left: 1px solid #BEBEBE;
	background-color: #e8e8e8;
	color: #eb4403;
}